In [1]:
age=45
height = 5.5
name = 'vishva'
is_professional = True

In [2]:
print(" Name : ", name)
print(" Age  : ", age)
print(" Height : ", height)

 Name :  vishva
 Age  :  45
 Height :  5.5

In [3]:
first_name = 'vishvanathan'
last_name = 'Kuppusamy'
print(first_name+ " " +last_name)

vishvanathan Kuppusamy

In [ ]:
# understanding variable types
# variable is dynamically typed at run time
age=45 # int
height = 5.5 # float
name = 'vishva' # str
is_professional = True #boolean

In [4]:
#type checking
type(age)

int

In [5]:
type(height)

float

In [6]:
int(height)

5

In [7]:
#type conversion
#str to int - no , it is not possible
var = 'vishva'
print(int(var))

ValueError: invalid literal for int() with base 10: 'vishva'

In [10]:
#dynamic type
print(var,type(var))
var = 10
print(var,type(var))

vishva <class 'str'>
10 <class 'int'>

In [3]:
age = int(input("Enter age : "))
print(age,type(age))

45 <class 'int'>

In [5]:
#siple calculator
num1 = float(input("Enter first number : "))
num2 = float(input("Enter second number : "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum : ", sum)
print("Difference : ",difference)
print("Product : ",product)
print("Quotient : ",quotient)

Sum :  30.0
Difference :  -10.0
Product :  200.0
Quotient :  0.5